@media (max-width: 739px){
    .container{
        width:400px;
    }

    .logo_uth, .content{
        width: 300px;
    }
    .search{
        width: 92%;
    }
    #resultTable{
        width: 330px;
    }

    .nav{
        padding: 0;
    }
    .nav_1{
        width: 49%;
    }

    #studentInfo {
        width: 90%;
      }
      
    #studentInfo td {
        display: block;
        width: 50%;
        padding: 5px 0;
      }
      
    #studentInfo tr {
        display: flex;
        flex-wrap: wrap;
      }
      
    #studentInfo td strong {
        margin-right: 5px;
      }
    #studentName{
        width: 40%;
    }

    #gpaForm{
        width: 300px;
        padding: 0;
    }

    .two_colum {
        width: 90%;
        flex-direction: column;
    }
    .colum_1 {
        flex: 1;
    }
    .colum_2 {
        flex: 1;
    }
}